<section id="format-diagram" class="format">
    <div class="container">
        <h2>Block diagram</h2>
        <a href="<%= file_id %>.svg">
            <img class="diagram-img" src="<%= file_id %>.svg" />
        </a>
    </div>
</section>

<section id="format-ksy" class="format">
    <div class="container">
        <h2>Format specification in Kaitai Struct YAML</h2>
        
        <pre><code class="yaml"><%= yaml_str %></code></pre>
    </div>
</section>
